#nav i{
  display: none;
}

/* #products-slide::-webkit-scrollbar {
  display: none;
} */


#home-background {
  padding:0 5%;
  width: auto;
  min-height: 90vh;
  justify-content: center;
  align-content: center;
  grid-gap: 0 5%;
  }

#home-info {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  flex: .5 .5 50vh;
}

#pio-img {
  background: #fff;
  width: 100%;
  height: 50vh;
  background-image: url('../img/setup/setup5.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
  flex: .5 .5 50vh;
}
#f-icon {
  justify-content: start;
}
#f-icon > i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: .2rem solid var(--two);
  background: #fff;
  color: var(--two);
  font-size: 2rem ;
  box-shadow: 0 0 0 0px #fff;
  transition: box-shadow .2s ease;
  cursor: pointer;
  margin: 3rem .5rem 3rem;
}

#f-icon > i:hover {
  box-shadow: 0 0 .5rem -.1rem #fff;
}

#pio-heading{
  color:#fff;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

#home-pio > p{
  color:#fff;
  font-size: 1.2rem;
  font-family: techead;
}

.section-heading {
  margin: 6rem 0 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1rem 0;
  font-family: proxon;
  background: var(--eight);
  color: var(--two);
  letter-spacing: .3rem;
}

section:nth-of-type(2) .section-heading{
  margin-top: 0;
}

#brands-container{
  /* min-height: 100vh; */
  align-items: flex-start;
}


.brand{
  width:12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  margin: 0 1rem 2rem;
  padding: 4rem;
}

.brand > img{
  width: 180%;
}

.brand:last-of-type{
  margin-bottom: 0;
}

#brands-container .brand:last-of-type img{
  width: 200%;
}
#brands-container .brand:nth-last-of-type(2) img{
  margin-left: -1rem;
  width: 170%;
}


#catagories-container{
  margin-bottom: 2rem;
}

.catagory {
  color: var(--eight);
  background:  #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  border-radius: 5rem;
  padding: .5em .8rem;
  margin: .5rem;
}
#slide-container i{
  color: var(--two);
  font-size: 3rem;
  cursor: pointer;
  position: absolute;
}
#left {
  left: 1%;
}

#right {
  right: 1%;
}

#slide-container{
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  scroll-behavior: smooth;
  justify-content: start;
  /* position: relative; */
}

#products-slide {
  justify-content: start;
  margin: 0 1rem;
  width: 144rem;
  flex-wrap: nowrap;
  /* transform: translateX(0%); */
   transition: transform 0.5s;
}

/* #products-slide::-webkit-scrollbar{

} */

.product-card {
  display: inline-block;
}
.product{
  width: 14rem;
  height: 22rem;
  background: #fff;
  border: 3px solid var(--two);
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}

.pro-img  img{
  max-width: 100%;
  max-height: 8rem;
}

#modes-container{
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  border-radius: 3rem;
  box-shadow: 0 0 .8rem .5rem rgba(0, 0, 0,.3);
  overflow: hidden;
}

.mode {
  display: flex;

}
.mode-info{
  width: 50%;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: center;
  padding: 2rem;
}

.mode-img{
  height: 36vh;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#light .mode-img{
  background-image: url("../img/setup/setup4.jpg");

}
#dark .mode-img{
  background-image: url("../img/setup/setup3.jpg");
}

#dark .mode-info{
  order: -1;
}

.modes-heading {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.mode p{
  text-align: center;
  font-size: 1rem;
  font-family: techead;
}

#dark{
  background: #191c1e;
}

#dark p,
#dark h3 {
  color: #Fff;
}


#light{
  background: #fff;
}

#light p,
#light h3 {
  color: #191c1e;
}

#game-container {
  width:75%;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 3rem;
  border: 3px solid #fff;
  overflow: hidden;
}


.game img {
  width: 50%;
}


.game-info {
  width: 50%;
  align-self: stretch;
  align-content: center;
  text-align: center;
  color: #fff;
  padding: 3rem 2rem;
}

.div-heading{
  color:var(--six);
  max-width: 95%;
  font-size: 1.8rem;
  letter-spacing: .3rem;
  text-transform: uppercase;
  font-family: proxon;
  text-align: center;
  margin-bottom: 2rem;
}

.game-info p{
  max-width: 90%;
  font-size: 1.1rem;
  line-height: 1.4;
  font-family: techeadlight;
  letter-spacing: .1rem;
  overflow: hidden;
}

.game-info p{
  margin-bottom: 2rem;
}

.game-info i{
  color: var(--six);
  font-size: 1.5rem;
}

#about-container {
  height: 65vh;
  width: 75%;
  margin: 0 auto;
  padding: 0;
  align-content: center;
  justify-content: center;
  border-radius: 3rem 3rem 0 0;
  box-shadow: 0 0 .8rem .5rem rgba(0, 0, 0,.3);
  overflow: hidden;
}

.me{
  background-image: url("../img/me.jpg");
  background-size: cover;
  background-position: top;
  width: 50%;
  height: 100%;
}

#about-container img{
  max-width: 50%;
  max-height: 100%;
}

#info{
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background: #fff;
  height: 100%;
  padding: 2.5rem;
}

#info p{
  text-transform: capitalize;
  color: var(--eight);
  font-size: 1.1rem  ;
  font-family: techeadbold;
  white-space: nowrap;
}

#info i{
  font-size: 1.5rem;
  margin-right: 1rem;
  color: var(--two)
}

.act{
 color:  var(--green);
 border-bottom: 3px solid  var(--green) ;
}

@media (max-width: 760px){


.mode,
.game,
#about-container{
    flex-direction: column;
    flex-wrap: nowrap;
  }

#dark .mode-info {
    order: 2;
  }

.mode-info,
.mode-img,
.game-info,
.game > img,
.me,
#info{
    width: 100%;
  }

.game img:nth-of-type(1) {
    order: -1;
  }

  #home-background{
    margin-top: 2rem;
    margin-bottom: 5rem;
    padding:0 10%;
    }

  #home-info {
    flex: .5 .5 40vh;
  }

  #pio-img {
    height: 40vh;
    flex: .5 .5 40vh;
  }
#nav-container{
  display: flex;
  position: fixed;
  top: 4rem;
  left: 0;
  background: var(--two);
  flex-direction: column;
  opacity: 0;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform .5s ease,opacity .5s ease;
  height: 60%;
}

#nav-container.showed{
  opacity: 1;
  transform: rotateX(0);
}

.nav-link{
  font-size: 1.5rem;
  height: 1.5em;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 1.2em auto;

}

#nav i{
  display: block;
  font-size: 1.5rem;
  border: .25rem solid #fff;
  padding: .5rem;
  border-radius: .5rem;
  width: 3rem;
  text-align: center;
}

}


@media (max-width:400px){
  #home-info {
    flex: .5 .5 30vh;
  }

  #pio-img {
    height: 30vh;
    flex: .5 .5 30vh;
  }
}

