.product-section{
  flex-direction: column;
  margin: 3rem 5%;
  width: 60%;
  margin: 0 auto 5rem;
}

.spec-container{
  justify-content: space-evenly;
  margin: 2rem 0;
}

.spec-container img{
  max-width: 50%;
  max-height: 60vh;
  margin-bottom: 2rem;
}

.spec-container .product-heading{
  font-size: 2rem;
  margin-bottom: 1rem;
}

.spec-container .pro-info{
  height: auto;
  width: 50%;
  align-self: center;
  padding-left: 2rem;

}


.spec{
  font-size: 1.25rem;
  color: #fff;
}

.more-detailes{

  color: #fff;
}

.more-detailes p {
  text-align: justify;
  font-size: 1rem;
  font-family: techeadlight;
}



.more{
  padding: 1rem 1.5rem;
  text-transform: capitalize;
  cursor: pointer;
  color: var(--two);
  background: #fff;
  margin: 2rem 0;
  font-size: 1.2rem;
  font-family: proxon;
  letter-spacing: .2rem;
  border: .25rem solid var(--two) ;
  border-radius: .5rem;
  transition: border .5s ease , color .5s ease , background .5s ease;
}

.more:hover{
    border: .25rem solid #fff ;
    color: #fff;
    background: var(--two);
}

.more:focus{
  outline: 0;

}


@media (max-width: 540px){
  .product-section{
    width: 75%;
  }
  .spec-container{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;

  }
  .spec-container img{
      max-width: 100%;
  }
  .spec-container .pro-info{
    width: 100%;
    padding-left: 0;

  }
}






